beautifulsoup4==4.12.3
celery[redis]==5.3.6
dateparser==1.2.0
emoji==2.10.1
fake-useragent==1.5.1
influxdb==5.3.1
parsedatetime==2.6
python-telegram-bot[job-queue]==21.0.1
redis==4.6.0
requests==2.31.0
