beautifulsoup4==4.12.3
celery[redis]==5.4.0
dateparser==1.2.0
emoji==2.13.2
fake-useragent==1.5.1
influxdb==5.3.2
parsedatetime==2.6
python-telegram-bot[job-queue]==21.6
redis==4.6.0
requests==2.32.3
